{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header%}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row pt-3 text-center">
      <div class="col-10 offset-1 cart-title mb-4">
        <h2 class="text-uppercase">Shopping Cart</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1 cart-title">
        {% if cart_items %}
          <div class="table-responsive rounded">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Product Info</th>
                  <th scope="col"></th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>

              {% for item in cart_items %}                  
                  <tr>
                    <td>
                      {% if item.food.image %}
                        <img class="w-100" src="{{ item.food.image.url }}" alt="{{ item.food.name }}">
                      {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ item.food.name }}">
                      {% endif %}
                    </td>
                    <td>
                      <p>{{ item.food.name }}</p>
                    </td>
                    <td>
                      <p>€{{ item.food.price }}</p>
                    </td>
                    <td>
                      <form class="form update-form" action="{% url 'adjust_food_qty' item.food.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row w-50 offset-1">
                            <div class="col-12">
                                <p class="text-center"><strong></strong></p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-food-qty btn btn-sm plus-minus-btn rounded-0"
                                                    data-food_id="{{ item.food_id }}" id="decrement-food-qty_{{ item.food_id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                data-food_id="{{ item.food_id }}" 
                                                id="id_food_qty_{{ item.food_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-food-qty btn btn-sm plus-minus-btn rounded-0"
                                                    data-food_id="{{ item.food_id }}" id="increment-food-qty_{{ item.food_id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <a class="update-link text-info ml-5"><small>Update</small></a>
                    <a class="remove-item text-danger ml-5" id="remove_{{ item.food_id }}"><small>Remove</small></a>
                    </td>
                    <td>
                      <p>€{{ item.food.price | calc_subtotal:item.quantity }}</p>
                    </td>
                  </tr>
              {% endfor %}
              <tr>
                <td colspan="5" class="pt-5 text-right">
                  <h6><strong>Cart Total: €{{ total|floatformat:2}}</strong></h6>
                  <h6>Delivery: €{{ delivery|floatformat:2}}</h6>
                  <h4><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                  {% if free_delivery_delta > 0 %}
                    <p>
                      Free delivery is away by only <strong>€{{ free_delivery_delta }}</strong>!
                    </p>
                  {% endif %}
                </td> 
              </tr>
            </table>
          </div>
        {% else %}
          <p class="lead">Your cart is empty.</p>
          <a href="{% url 'all_products' %}" class="btn keep-shopping-btn mt-3">
            <span class="icon">
              <i class="fa-solid fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
          </a>
        {% endif %}
        <a href="{% url 'checkout' %}" class="btn keep-shopping-btn mt-3">
          <span class="icon">
            <i class="fa-solid fa-lock"></i>
          </span>
          <span class="text-uppercase">Checkout</span>
        </a>
      </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function(e) {
    let form = $(this).prev('.update-form');
    form.submit();
  })

  // Remove food item and reload on click
  $('.remove-item').click(function(e) {
    let csrfToken = "{{ csrf_token }}";
    let foodItemId = $(this).attr('id').split('remove_')[1];
    let url = `/cart/remove/${foodItemId}/`;
    let data = {'csrfmiddlewaretoken': csrfToken}

    $.post(url, data)
     .done(function() {
      location.reload();
    });
  })

</script>

{% endblock %}