{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row pt-3 text-center">
      <div class="col-10 offset-1 cart-title mb-4">
        <h2 class="text-uppercase">Shopping Cart</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-10 offset-1 cart-title">
        {% if cart_items %}
          <div class="table-responsive rounded">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Product Info</th>
                  <th scope="col"></th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>

              {% for item in cart_items %}
                  {% if item.wine_id %}
                  <tr>
                    <td>
                      <img class="image-fluid cart-img-wine" src="{{ item.wine.image.url }}" alt="">
                    </td>
                    <td>
                      <p>{{ item.wine.name }}</p>
                    </td>
                    <td>
                      <p>€{{ item.wine.price }}</p>
                    </td>
                    <td>
                      <p>{{ item.quantity }}</p>
                    </td>
                    <td>
                      <p>€{{ item.wine.price }}</p>
                    </td>
                  </tr>
                  {% elif item.food_id %}
                  <tr>
                    <td>
                      <img class="img-fluid cart-img-food" src="{{ item.food.image.url }}" alt="">
                    </td>
                    <td>
                      <p>{{ item.food.name }}</p>
                    </td>
                    <td>
                      <p>€{{ item.food.price }}</p>
                    </td>
                    <td>
                      <p>{{ item.quantity }}</p>
                    </td>
                    <td>
                      <p>€{{ item.food.price }}</p>
                    </td>
                  </tr>
                  {% endif %}
              {% endfor %}
              <tr>
                <td colspan="5" class="pt-5 text-right">
                  <h6><strong>Cart Total: €{{ total|floatformat:2}}</strong></h6>
                  <h6>Delivery: €{{ delivery|floatformat:2}}</h6>
                  <h4><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                  {% if free_delivery_delta > 0 %}
                    <p>
                      Free delivery is away by only <strong>€{{ free_delivery_delta }}</strong>!
                    </p>
                  {% endif %}
                </td> 
              </tr>
            </table>
          </div>
        {% else %}
          <p class="lead">Your cart is empty.</p>
          <a href="{% url 'all_products' %}" class="btn keep-shopping-btn mt-3">
            <span class="icon">
              <i></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
          </a>
        {% endif %}
        <a href="{% url 'all_products' %}" class="btn keep-shopping-btn mt-3">
          <span class="icon">
            <i></i>
          </span>
          <span class="text-uppercase">Keep Shopping</span>
        </a>
      </div>
    </div>
</div>
{% endblock %}