@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&family=Dancing+Script:wght@500;700&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: url('/media/hero_image.jpg');
    background-size: cover;
    font-family: "Andada Pro", "Times New Roman", sans-serif;
    font-weight: 400;
    position: relative;
    margin: 0;
    min-height: 100vh;
    box-sizing: inherit;
    padding-bottom: 600px;
}

.site-title {
    background-color: #2C3333;
    width: 100vw;
}

#shop-name {
    font-family: 'Dancing Script', 'Times New Roman', sans-serif;
    font-size: 70px;
}

a {
    color: #F51A12;
}

a:hover {
    text-decoration: none;
    color: #FFBB26;
}

.yellow-letters {
    color: #FFBB26;
}

.red-letters {
    color: #F51A12;
}

input {
    border: 1px solid #2C3333;
}

/******************** Account Buttons ********************/

.primary {
    color: #FFBB26;
    border: 1px solid #FFBB26;
    background-color: #2C3333;
    padding-left: 4px;
    padding-right: 4px;
}

.secondary {
    color: #F51A12;
    border: 1px solid #F51A12;
    background-color: #2C3333;
    padding: 2px;
    padding-left: 4px; 
    padding-right: 4px; 
}

.primary:hover {
    color: #F51A12;
    border: 1px solid #F51A12;
}

.secondary:hover {
    border: 1px solid #FFBB26;
    background-color: #2C3333;
}

/******************** Navbar ********************/

li {
    font-family: 'Andada Pro', 'Times New Roman', sans-serif;
    font-size: 18px;
}

li > a {
    color: black !important;
}

/******************** Header Container ********************/

.header-container {
    margin-top: 250px;
}

/******************** Delivery Info Carousel ********************/

#delivery-carousel {
    background-color: #2C3333;
    color: #FFBB26;
    border-top: 1px solid #FFBB26;
    width: 100vw;
}

/******************** Homepage ********************/

.jumbotron {
    width: 40vw;
    position: relative;
    top: 8vh;
    background-color: #2C3333;
    height: 250px;
    border: 2px solid #FFBB26;
}

.jumbotron h2 {
    font-family: 'Dancing Script', Times New Roman, sans-serif;
}

/******************** Buttons ********************/

.shop-now-btn, .add-to-cart-btn {
    background-color: #2C3333;
    color: #FFBB26;
    border: 1px solid #FFBB26;
}

.shop-now-btn:hover, .add-to-cart-btn:hover {
    color: #F51A12;
    border-color: #F51A12;
}

.keep-shopping-btn {
    background-color: #2C3333;
    color: #F51A12;
    border: 1px solid #F51A12;
}

.keep-shopping-btn:hover {
    background-color: #2C3333;
    color: #FFBB26;
    border-color: #FFBB26;
}

.edit-btn, .delete-btn:hover {
    color: #FFBB26;
    border: 1px solid #FFBB26;
    background-color: #2C3333;
}

.edit-btn:hover, .delete-btn {
    color: #F51A12;
    border-color: #F51A12;
    background-color: #2C3333;
}

/******************** Products Template ********************/

/* Overlay from the Boutique Ado walkthrough project */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.card {
    width: 60%;
    background-color: #FFBB26;
    border-color: #2C3333;
    font-family: "Andada Pro", "Times New Roman", sans-serif;
    font-style: italic;
    font-weight: 600;
}

/******************** Product Details Section ********************/

.food-detail-img {
    height: 50vh;
}

.vegan-ok {
    height: 3%;
}

.form-group {
    border: 1px solid #2C3333;
}

/******************** Product Details Section ********************/

.keep-shopping-btn, .checkout-btn {
    background-color: #2C3333;
}

/******************** Experiences - Main and Details Page ********************/

.experience-detail-img {
    height: 35vh;
}

/******************** Cart ********************/

.cart-img {
    height: 15vh;
}

.plus-minus-btn {
    background-color: #2C3333;
    color: #FFBB26;
}

.update-link, .remove-food-item {
    cursor: pointer;
}

/******************** Toasts ********************/

.message-container {
    position: fixed;
    top: 230px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkout-btn {
    background-color: #2C3333;
    color: #FFBB26;
    border: 1px solid #FFBB26;
}

.checkout-btn:hover {
    background-color: #2C3333;
    color: #F51A12;
}

/******************** Checkout ********************/

.adjust-cart {
    border: 2px solid black;
    background-color: #F51A12;
    transition: all .5s ease-in-out;
}

.submit-button {
    border: 2px solid black;
    background-color: #FFBB26;
    transition: all .3s ease-in-out;
}

.adjust-cart:hover, .submit-button:hover {
    transform: scale(1.1) perspective(1px)
}

.order-confirmation-wrapper {
    border: 1px solid #2C3333;
}

/******************** Footer & Mailchimp Form ********************/

.footer {
    background-color: #2C3333;
    color: #FFBB26;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
}

footer p, footer a, footer i {
    color: #FFBB26;
}

#mc_embed_signup {
    background:#2C3333; 
    color: #FFBB26; 
   
    font:14px 'AndadaPro', 'Times New Roman', sans-serif;  
    width:600px; 
    border: 1px solid #FFBB26;
}

.mailchimp-btn {
    border: 1px solid #FFBB26;
    background-color: #2C3333;
    color: #FFBB26;
}

.mailchimp-btn:hover {
    border: 1px solid #2C3333;
    background-color: #FFBB26;
    color: #2C3333;
}
/******************** Media Queries ********************/

