@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&family=Dancing+Script:wght@500;700&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

body {
    background: url('/media/hero-image.jpg');
    background-size: cover;
    font-family: "Andada Pro", "Times New Roman", sans-serif;
    font-weight: 400;
}

image {
    height: 100px;
}

#shop-name {
    font-family: 'Dancing Script', 'Times New Roman', sans-serif;
    font-size: 70px;
}

a:hover {
    text-decoration: none;
}

#title-separator {
    border-top: 1px solid black;
    width: 50vw;
    margin-left: 25vw;
}

.title-a {
    color: #FFDA25;
}

.title-b {
    color: #F51A12;
}
/******************** Navbar ********************/

li {
    font-family: 'Andada Pro', 'Times New Roman', sans-serif;
    font-size: 18px;
}

li > a {
    color: black !important;
}
