@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@0;1&family=Dancing+Script:wght@500;700&display=swap');

/******************** Main and Body ********************/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100%;
    font-family: "Andada Pro", "Times New Roman", sans-serif;
    font-weight: 400;
}

#shop-name {
    font-family: 'Dancing Script', 'Times New Roman', sans-serif;
    font-size: 70px;
}

/******************** Navbar ********************/

li {
    font-family: 'Andada Pro', 'Times New Roman', sans-serif;
    font-size: 18px;
}

li > a {
    color: black !important;
}