{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center">
                <div class="col-xs-6 col-md-10 image-container">
                    {% if experience.image %}
                        <img src="{{ experience.image.url }}" class="image-fluid experience-detail-img" alt="Image for {{ experience.name }}">
                    {% else %}
                        <img src="{{ MEDIA_URL }}no_image.jpg" class="image-fluid experience-detail-img" alt="{{ item.experience.name }}">
                    {% endif %}
                    {% if request.user.is_superuser %}
                            <a class="btn text-uppercase edit-btn mt-2" href="#">Edit</a> 
                            <a class="btn text-uppercase delete-btn mt-2" href="#">Delete</a>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-sm-10 col-md-10">
                    <p><em>Type:</em> {{ experience.type }}</p>
                    <p><em>Name:</em> {{ experience.name }}</p>
                    <p><em>Duration:</em> {{ experience.duration }} hours</p>
                    <p><em>Description:</em> {{ experience.description }}</p>

                </div>
            </div>
        </div>

{% endblock %}