{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-6 image-container text-center mb-4">
                    {% if experience.image %}
                        <img src="{{ experience.image.url }}" class="image-fluid experience-detail-img" alt="Image for {{ experience.name }}">
                    {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ item.experience.name }}">
                    {% endif %}
                    {% if request.user.is_superuser %}
                            <a class="btn text-uppercase edit-btn mt-2" href="#">Edit</a> 
                            <a class="btn text-uppercase delete-btn mt-2" href="#">Delete</a>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <p><em>Type:</em> {{ experience.type }}</p>
                    <p><em>Name:</em> {{ experience.name }}</p>
                    <p><em>Duration:</em> {{ experience.duration }} hours</p>
                    <p><em>Description:</em> {{ experience.description }}</p>
                    <p><em>Price:</em> € {{ experience.price }}</p>

                    <form class="form" action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-row w-50 offset-1">
                            <div class="col-12 mt-4">
                                <p class="text-center"><strong>Quantity:</strong></p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-food-qty btn btn-black"
                                                    data-food_id="{{ experience.id }}" id="decrement-food-qty_{{ experience.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                                name="quantity" value="1" min="1" max="99" 
                                                data-food_id="{{ experience.id }}" 
                                                id="id_food_qty_{{ experience.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-food-qty btn btn-black"
                                                    data-food_id="{{ experience.id }}" id="increment-food-qty_{{ experience.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <a href="{% url 'all_experiences' %}" class="btn keep-shopping-btn">
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn text-uppercase add-to-cart-btn" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}