{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h2 class="text-uppercase">Experiences</h2>
        <h5>Starting from <strong>June 2023</strong></h5>
      </div>
      <hr class="w-50 mx-auto mt-2">
    </div>
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <p>
          Our <strong><em>Experience Sicily</em></strong> services are a journey <br> through the delicious products <br>
          and breathtaking landscapes of Sicily. <br>
          We are delighted to welcome you at our company, <br> offering a tasting of our products and <br> - for a more immersive 
          experience - <br> a visit of our premises and the surrounding countryside. <br>
          Please find more details <strong>below</strong>, and stay tuned for more info!
        </p>
      </div>
      <hr class="w-50 mx-auto mt-2">
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          {% for experience in experiences %}
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4">  
            <div class="card h-100 text-center mx-auto">
              {% if experience.image %}
              <a href="{% url 'experience_details' experience.id %}">
                <img class="card-img-top img-fluid" src="{{ experience.image.url }}" alt="{{ experience.name }}">
              </a>
              {% else %}
              <a href="{% url 'experience_details' experience.id %}">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ experience.name }}"> 
              </a>
              {% endif %}
              <div class="card-body my-auto">
                <p>{{ experience.name }}</p>
              </div>
              {% if request.user.is_superuser %}
                <div class="mb-4">
                    <a class="btn text-uppercase edit-btn" href="{% url 'edit_experience' experience.id %}">Edit</a> 
                    <a class="btn text-uppercase delete-btn" href="#">Delete</a>
                </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}