{% load static %}

<!doctype html>
<html lang="en">

  <head>
    <title>A Taste Of Sicily {% block additional_title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/af75475c99.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </head>

  <body>

    <header class="container-fluid fixed-top bg-white">
      <!-- Shop Name -->
      <div class="site-title pb-2">
        <a href="{% url 'home' %}">
          <h1 id="shop-name" class="text-center pt-3">
            <span class="title-a">A Taste O</span><span class="title-b">f Sicily</span>
          </h1>
        </a>
      </div>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light my-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us <i class="fa-solid fa-circle-info"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Shop <i class="fa-solid fa-shop"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'all_products' %}?category=wine,food">All Products <i class="fa-solid fa-basket-shopping"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=wine">Wine <i class="fa-solid fa-wine-glass"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=food">Food <i class="fa-solid fa-utensils"></i></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Experience Sicily <i class="fa-solid fa-suitcase"></i></a>
            </li>
            <div class="my-auto">
              <form method="GET" action="{% url 'all_products' %}" class="form-inline my-2 my-lg-0  pl-5">
                <input class="form-control mr-sm-2 border border-dark" type="text" name="q" placeholder="Search our products" aria-label="Search">
                <button class="btn my-2 my-sm-0 border border-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
          </ul>
          <ul class="navbar-nav mr-auto text-align-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                My Account <i class="fa-solid fa-user"></i>
              </a>
              <div class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a class="dropdown-item" href="#">Manage Shop <i class="fa-solid fa-boxes-stacked"></i></a>
                  {% endif %}
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="% url 'account_logout %">Log Out <i class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a class="dropdown-item" href="% url 'account_login %">Log In <i class="fa-solid fa-right-to-bracket"></i></a>
                <a class="dropdown-item" href="% url 'account_signup %">Sign Up <i class="fa-solid fa-user-plus"></i></a>
                {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart <i class="fa-solid fa-cart-shopping"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>