{% load static %}

<!doctype html>
<html lang="en">
  
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The website for A Taste Of Sicily, a Sicilian gourmet food producer in Catania, Italy">
    <meta name="keywords" content="taste sicily, sicily, sicilian food, italy, italian food, gourmet, gourmet food, Italian pasta, Italian sauces, Italian olive oil, Italian cookies, food shop, online shop, tasting, visit">
    {% endblock %}

    {% block core_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/af75475c99.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    
    <title>A Taste Of Sicily | Gourmet Sicilian Food</title>
  </head>

  <body>

    <header class="fixed-top bg-white">
      <!-- Shop Name -->
      <div class="site-title pb-2">
        <a href="{% url 'home' %}">
          <h1 id="shop-name" class="text-center pt-3">
            <span class="yellow-letters">A Taste O</span><span class="red-letters">f Sicily</span>
          </h1>
        </a>
      </div>
      <!-- Delivery Info Carousel -->
      <div class="container-fluid">
        <div class="row">
          <div id="delivery-carousel" class="carousel slide" data-ride="carousel" data-interval="5500">
            <div class="carousel-inner text-center pt-2">
              <div class="carousel-item">
                <h4 class="d-block w-100 text-uppercase" alt="Delivery info"><span class="yellow-letters">Free delivery</span> <span class="red-letters">for orders</span> <span class="yellow-letters">over €{{ free_delivery_threshold }}</span></h4>
              </div>
              <div class="carousel-item active">
                <h4 class="d-block w-100 text-uppercase" alt="Coming soon advertisement">Coming soon: <span class="red-letters">tasting <span class="yellow-letters">&</span> visit <span class="yellow-letters">experiences</span></span></h4>
              </div>
            </div>
          </div>
      </div>
    </div>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light my-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home <i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Us <i class="fa-solid fa-circle-info"></i></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Shop <i class="fa-solid fa-shop"></i></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'all_products' %}?category=pasta,jam_marmalade,oil_vinegar,sauce,juice_cider,cookies,honey">All Products <i class="fa-solid fa-basket-shopping"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=pasta">Pasta <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=jam_marmalade">Jams & Marmalades <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=oil_vinegar">Oil & Vinegar <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=sauce">Sauces <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=juice_cider">Juices & Ciders <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=cookies">Cookies <i class="fa-solid fa-utensils"></i></a>
                <a class="dropdown-item" href="{% url 'all_products' %}?category=honey">Honey <i class="fa-solid fa-utensils"></i></a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_experiences' %}">Experience Sicily <i class="fa-solid fa-suitcase"></i></a>
            </li>
            <div class="my-auto">
              <form method="GET" action="{% url 'all_products' %}" class="form-inline my-2 my-lg-0  pl-5">
                <input class="form-control mr-sm-2 border border-dark" type="text" name="q" placeholder="Search our products" aria-label="Search">
                <button class="btn my-2 my-sm-0 border border-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
            </div>
          </ul>
          <ul class="navbar-nav mr-auto text-align-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                My Account <i class="fa-solid fa-user"></i>
              </a>
              <div class="dropdown-menu">
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a class="dropdown-item" href="{% url 'add_food_to_store' %}">Add Food <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-utensils"></i></a>
                  <a class="dropdown-item" href="{% url 'add_experience' %}">Add Experience <i class="fa-solid fa-plus"></i> <i class="fa-solid fa-wheat-awn"></i></a>
                  {% endif %}
                <a class="dropdown-item" href="{% url 'profile' %}">My Profile <i class="fa-solid fa-pen-to-square"></i></a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out <i class="fa-solid fa-right-from-bracket"></i></a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_login' %}">Log In <i class="fa-solid fa-right-to-bracket"></i></a>
                <a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up <i class="fa-solid fa-user-plus"></i></a>
                {% endif %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_cart' %}">
                <div">
                  <div>Cart<i class="fa-solid fa-cart-shopping"></i>
                      {% if grand_total %}
                          €{{ grand_total|floatformat:2}}
                      {% else %}
                          €0.00
                      {% endif %}
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
              {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_header%}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}

    {% include 'includes/footer.html' %}

  </body>
</html>