{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <h2 class="text-uppercase">About Us</h2>
      </div>
      <hr class="w-50 mx-auto mt-2">
    </div>

    <main>
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h4 class="text-uppercase">Welcome to <strong>A Taste Of Sicily!</strong></h4>
            <p class="text-justify mt-4">We are delighted to have you here and would love to tell you a bit about ourselves.</p>
            <p class="text-justify">
                Our company was born in the 1960s, when Paolo Montalbano (the father of Domenico, the company's current president
                - and Farmer In Chief!)
                started tilling his land, rich with orange and olive trees. <br>
                Domenico grew up learning from his father the secrets of his trade: love for the land, respect for the natural
                processes of agriculture and a profound care for the people they sold their products to.
            </p>
            <p class="text-justify">
                Paolo Montalbano was an individual farmer selling his produce to his neighbours in order to make a living. He did so with
                honesty and simplicity. <br> These same values now represent the bedrock of <em>A Taste Of Sicily</em>, a growing company 
                that offers products made with the same love and care, both towards the land and our customers.                
            </p>
            <h4 class="text-uppercase">Our Mission</strong></h4>
            <p class="text-justify">
                It is our goal to let you experience the amazing flavours of Sicilian products.
            </p> 
            <p class="text-justify"> Sicily is a land rich in 
                history, culture, and culinary traditions. Its geography makes it an ideal place for agriculture, and the sun
                warming it - right in the heart of the Mediterranean sea - graces us with food of great freshness. We want to
                promote our beautiful land through our products, allowing friends from other regions and countries to get a glimpse
                (well, a taste!) of what Sicily is, of what it means for us. <br>
            </p>
            <p class="text-justify"> As we keep on growing and expanding, it is also our desire to welcome you to our farm for tasting and visit experiences. 
                We invite you to stay tuned for upcoming info from our website and, most of all, we invite you to embark with us on
                a journey to discover Sicily.
            </p>
            <p class="text-justify">A journey to taste it, with us.</p>
        </div>
    </div>
    </main>

  </div>
{% endblock %}